.main {
	padding-top: 65px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
	box-sizing: border-box;
}

.logo {
	top: 20px;
	left: 20px;
	width: 60px;
	height: 60px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3f51b5;
	border-radius: 100%;
	a{
		font-size: 20px;
		font-weight: bold;
	}

}
.link {
	color: #fff;
}
