*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
	margin: 0;
	padding: 0;
}
ul[role="list"],
ol[role="list"] {
	list-style: none;
}
html:focus-within {
	scroll-behavior: smooth;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}
img,
picture {
	max-width: 100%;
	display: block;
}
input,
button,
textarea,
select {
	font: inherit;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

li {
	outline: none;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
	text-decoration: none;
	outline: none;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

#root,
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: "Open Sans", sans-serif;
}

