.rss-logo {
	max-width: 100px;
	width: 100px;
}

.MuiContainer-root.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media screen and (max-width: 420px) {
		flex-direction: column;
		align-items: center;
	}
}

.copyright {
	display: flex;
	align-items: center;
	a {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	img {
		display: inline-block;
		margin: 20px 0;
	}
}

.footer-github {
	display: flex;
	align-items: center;
	justify-content: center;
	@media screen and (max-width: 420px) {
		flex-direction: column;
		align-items: center;
	}
	a {
		display: flex;
		margin-left: 10px;
		align-items: center;
	}
}

.github-logo {
	display: inline-block;
	max-width: 18px;
	min-height: 18px;
	margin-left: 10px;
}
