.cardGrid {
	display: flex;
	flex: 1;
	margin: 20px 0;
}

.heroContent {
	background: #000;
	padding: 10px;
}

.card {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.cardMedia {
	padding-top: 200px; // 16:9
}
.cardContent {
	flex: 1;
}
